.icon-aatrox:before{content:"";background-position:0px -0px}
.icon-ahri:before{content:"";background-position:-25px -0px}
.icon-akali:before{content:"";background-position:-50px -0px}
.icon-alistar:before{content:"";background-position:-75px -0px}
.icon-amumu:before{content:"";background-position:-100px -0px}
.icon-anivia:before{content:"";background-position:-127px -0px}
.icon-annie:before{content:"";background-position:-152px -0px}

.icon-ashe:before{content:"";background-position:-0px -50px}
.icon-blitzcrank:before{content:"";background-position:-25px -50px}
.icon-brand:before{content:"";background-position:-50px -50px}
.icon-braum:before{content:"";background-position: -75px -50px}
.icon-caitlyn:before{content:"";background-position:-100px -50px}
.icon-cassiopeia:before{content:"";background-position:-127px -50px}
.icon-chogath:before{content:"";background-position:-152px -50px}

.icon-corki:before{content:"";background-position:-0px -100px}
.icon-darius:before{content:"";background-position:-25px -100px}
.icon-diana:before{content:"";background-position:-50px -100px}
.icon-drmundo:before{content:"";background-position:-75px -100px}
.icon-draven:before{content:"";background-position:-100px -100px}
.icon-elise:before{content:"";background-position:-127px -100px}
.icon-evelynn:before{content:"";background-position:-152px -100px}

.icon-ezreal:before{content:"";background-position:-0px -150px}
.icon-fiddlesticks:before{content:"";background-position:-25px -150px}
.icon-fiora:before{content:"";background-position:-50px -150px}
.icon-fizz:before{content:"";background-position:-75px -150px}
.icon-galio:before{content:"";background-position:-100px -150px}
.icon-gangplank:before{content:"";background-position:-127px -150px}
.icon-garen:before{content:"";background-position:-152px -150px}

.icon-gnar:before{content:"";background-position:-0px -200px}
.icon-gragas:before{content:"";background-position:-25px -200px}
.icon-graves:before{content:"";background-position:-50px -200px}
.icon-hecarim:before{content:"";background-position:-75px -200px}
.icon-heimerdinger:before{content:"";background-position:-100px -200px}
.icon-irelia:before{content:"";background-position:-127px -200px}
.icon-janna:before{content:"";background-position:-152px -200px}

.icon-jarvaniv:before{content:"";background-position:-0px -250px}
.icon-jax:before{content:"";background-position:-25px -250px}
.icon-jayce:before{content:"";background-position:-50px -250px}
.icon-jinx:before{content:"";background-position:-75px -250px}
.icon-karma:before{content:"";background-position:-100px -250px}
.icon-karthus:before{content:"";background-position:-127px -250px}
.icon-kassadin:before{content:"";background-position:-152px -250px}

.icon-katarina:before{content:"";background-position:-0px -25px}
.icon-kayle:before{content:"";background-position:-25px -25px}
.icon-kennen:before{content:"";background-position:-50px -25px}
.icon-khazix:before{content:"";background-position:-75px -25px}
.icon-kogmaw:before{content:"";background-position:-100px -25px}
.icon-leblanc:before{content:"";background-position:-127px -25px}
.icon-leesin:before{content:"";background-position:-152px -25px}

.icon-leona:before{content:"";background-position:-0px -75px}
.icon-lissandra:before{content:"";background-position:-25px -75px}
.icon-lucian:before{content:"";background-position:-50px -75px}
.icon-lulu:before{content:"";background-position:-75px -75px}
.icon-lux:before{content:"";background-position:-100px -75px}
.icon-malphite:before{content:"";background-position:-127px -75px}
.icon-malzahar:before{content:"";background-position:-152px -75px}

.icon-maokai:before{content:"";background-position:-0px -125px}
.icon-masteryi:before{content:"";background-position:-25px -125px}
.icon-missfortune:before{content:"";background-position:-50px -125px}
.icon-mordekaiser:before{content:"";background-position:-75px -125px}
.icon-morgana:before{content:"";background-position:-100px -125px}
.icon-nami:before{content:"";background-position:-127px -125px}
.icon-nasus:before{content:"";background-position:-152px -125px}

.icon-nautilus:before{content:"";background-position:-0px -175px}
.icon-nidalee:before{content:"";background-position:-25px -175px}
.icon-nocturne:before{content:"";background-position:-50px -175px}
.icon-nunu:before{content:"";background-position:-75px -175px}
.icon-olaf:before{content:"";background-position:-100px -175px}
.icon-orianna:before{content:"";background-position:-127px -175px}
.icon-pantheon:before{content:"";background-position:-152px -175px}

.icon-poppy:before{content:"";background-position:-0px -225px}
.icon-quinn:before{content:"";background-position:-25px -225px}
.icon-rammus:before{content:"";background-position:-50px -225px}
.icon-renekton:before{content:"";background-position:-75px -225px}
.icon-rengar:before{content:"";background-position:-100px -225px}
.icon-riven:before{content:"";background-position:-127px -225px}
.icon-rumble:before{content:"";background-position:-152px -225px}

.icon-ryze:before{content:"";background-position:-0px -275px}
.icon-sejuani:before{content:"";background-position:-25px -275px}
.icon-shaco:before{content:"";background-position:-50px -275px}
.icon-shen:before{content:"";background-position:-75px -275px}
.icon-shyvana:before{content:"";background-position:-100px -275px}
.icon-singed:before{content:"";background-position:-127px -275px}
.icon-sion:before{content:"";background-position:-152px -275px}

.icon-sivir:before{content:"";background-position:-0px -300px}
.icon-skarner:before{content:"";background-position:-25px -300px}
.icon-sona:before{content:"";background-position:-50px -300px}
.icon-soraka:before{content:"";background-position:-75px -300px}
.icon-swain:before{content:"";background-position:-100px -300px}
.icon-syndra:before{content:"";background-position:-127px -300px}
.icon-talon:before{content:"";background-position:-152px -300px}

.icon-taric:before{content:"";background-position:-0px -350px}
.icon-teemo:before{content:"";background-position:-25px -350px}
.icon-thresh:before{content:"";background-position:-50px -350px}
.icon-tristana:before{content:"";background-position:-75px -350px}
.icon-trundle:before{content:"";background-position:-100px -350px}
.icon-tryndamere:before{content:"";background-position:-127px -350px}
.icon-twistedfate:before{content:"";background-position:-152px -350px}

.icon-twitch:before{content:"";background-position:-0px -400px}
.icon-udyr:before{content:"";background-position:-25px -400px}
.icon-urgot:before{content:"";background-position:-50px -400px}
.icon-varus:before{content:"";background-position:-75px -400px}
.icon-vayne:before{content:"";background-position:-100px -400px}
.icon-veigar:before{content:"";background-position:-127px -400px}
.icon-velkoz:before{content:"";background-position:-152px -400px}

.icon-vi:before{content:"";background-position:-0px -325px}
.icon-viktor:before{content:"";background-position:-25px -325px}
.icon-vladimir:before{content:"";background-position:-50px -325px}
.icon-volibear:before{content:"";background-position:-75px -325px}
.icon-warwick:before{content:"";background-position:-100px -325px}
.icon-monkeyking:before{content:"";background-position:-127px -325px}
.icon-xerath:before{content:"";background-position:-152px -325px}

.icon-xinzhao:before{content:"";background-position:-0px -375px}
.icon-yasuo:before{content:"";background-position:-25px -375px}
.icon-yorick:before{content:"";background-position:-50px -375px}
.icon-zac:before{content:"";background-position:-75px -375px}
.icon-zed:before{content:"";background-position:-100px -375px}
.icon-ziggs:before{content:"";background-position:-127px -375px}
.icon-zilean:before{content:"";background-position:-152px -375px}

.icon-zyra:before{content:"";background-position:-0px -425px}
.icon-azir:before{content:"";background-position:-25px -425px}
.icon-reksai:before{content:"";background-position:-50px -425px}
.icon-kalista:before{content:"";background-position:-75px -425px}
.icon-bard:before{content:"";background-position:-100px -425px}
.icon-ekko:before{content:"";background-position:-127px -425px}
.icon-tahmkench:before{content:"";background-position:-152px -425px}